.ft-gowns {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  color: #724665;
}

.title-paragraph-amount {
  margin: 8rem;
}

.title {
  text-transform: uppercase;
  text-align: right;
  font-size: 24px;
  font-family: var(--text);
  margin-bottom: 4rem;
  letter-spacing: 5px;
}

.paragraph {
  font-size: 25px;
  padding: 20px 2px;
  font-family: var(--text);
}

.dress {
  width: 240px;
  margin-right: 9rem;
  border-radius: 500px 500px 0 0;
}

.image-line {
  padding: 70px 70px 0 50px;
}

.btn-amount {
  width: 140px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  padding: 16px;
  margin-top: 3rem;
  background-color: #724665;
  color: var(--accent2);
  border: none;
}
