.jewelry-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
}
.jewelry-img {
  padding-left: 250px;
  /* border-top-left-radius:100px ; */
}
.jewelry-img img {
  border-radius: 500px 500px 0px 0px;
}
.jewelry-icon {
  padding: 170px 50px 0px 50px;
}
.jewelry-text {
  padding-right: 250px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  color: #724665;
}
.jewelry-text h1 {
  font-size: 20px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  font-family: var(--text);
}
.jewelry-text p {
  padding: 50px 0px;
  font-size: 24px;
  font-family: var(--text);
}
button {
  background-color: #724665;
  border: none;
  color:#ffcbc2;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 140px;
  font-family: var(--text);

}
